$light-blue: #40c4ff;
$light-blue-hover: #17b7fe;
$yellow: #ffd740;
$dark-gray: #606264;
$light-green: #f2f8fc;
$light-gray: #f2f2f2;
$boder-color: #e5e5e5;
$gray: #cbcbcb;
$gray-base: #808080;
$text-gray: #b9b9b9;
$white: #FFF;